<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <h1>Attendance</h1>
    <p>If you would join the party, please submit your name from below.</p>
    <form action="/new-guest" method="POST">
      <input type="text" name="guest" />
      <button type="submit">Submit</button>
    </form>
    <p>
      <a href="http://localhost:8000/">Back to home</a>
    </p>
  </body>
</html>
